/**************************************************
 * animations
 */

/*
 * MOBILE PORTRAIT animations
 *  - on mobile, the player slide out will be
 *    a slide-left animation
 */

.player-slide-in {
  transform: translateX(var(--slide-player-down));
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.player-slide-out {
  /* animation: 1s ease-out alternate slide-left; */
  transform: translateX(var(--slide-player-up));
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes slide-left {
  0% {
    transform: none;
  }

  100% {
    transform: translateX(var(--slide-player-up));
  }
}


/*
 * MOBILE LANDSCAPE animations
 */
@media screen and (min-width: 450px) and (orientation: landscape){
}


/*
 * LAPTOP animations
 */
@media screen and (min-width: 800px) {
}

