  /**************************************************
   * skin properties
   */
@media screen and (min-width: 700px) {
/*  html {
    background-color: hsla(240, 5%, 5%, 0.9);
  }

  body {
    font-size: 1.5rem;
  }

  #controls {
    color: hsla(200, 20%, 90%, 0.8);
  }

  input[type='text'] {
    border-radius: 10px;
  }

  label {
    font-size: 1.5rem;
  }

  .btn-playlist {
    font-size: 1.5rem;
  }
*/
}

